dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
*.eventlog
.stack-work/
.idea
src/MIML/
src/Makefile
src/Makefile.bak
src/doc
